<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h2>Number: <%= ID %> </h2>   
        <h3>Query string: <%= QSTR %></h3>  
    </body>
</html>
